@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br /> <br /> <br /> <br />

    <h1>Brand Sales Panel App'a Hoşgeldiniz </h1>
    <p class="lead">Bir İşlem yapmak istiyorsanız lütfen giriş yapınız.</p>
</div>
